
a{
  text-decoration: none;
  list-style: none;  

}

html, body {
  height: 100%; /* Garante que o body ocupe toda a altura da janela */
  display: flex;
  flex-direction: column; /* Coloca os itens em uma coluna */
}

main {
  flex: 1; /* Faz com que o main ocupe o espaço restante */
}

/* O resto do seu CSS permanece inalterado */